* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: 1px;
}

body {
  background: linear-gradient(
    to right,
    #5b84d4,
    #9170ce,
    #c152b2,
    #e12b83,
    #e90d47
  );
  font-weight: 600;
}

.app-container {
  height: 100vh;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  height: 500px;
  width: 350px;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.input-box-todo {
  width: 70%;
  height: 40px;
  border-radius: 14px;
  outline: none;
  border: 1px solid black;
  padding-left: 10px;
  margin-left: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
}
.add-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #05080d;
  color: white;
  font-weight: bolder;
  font-size: larger;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0,0 ,0.8);
  transition: 0.3s;
}
.add-btn:active{
  box-shadow: none;
}

.list-item {
  list-style-type: none;
  border: 2px solid rgb(161, 158, 158);
  color: white;
  padding: 3px;
  padding-left: 5px;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.icons {
  position: absolute;
  right: 10px;
}

.icons i {
  margin: 4px;
  font-size: large;
  cursor: pointer;
  transition: 0.1s;
}

.icons i:hover{
  transform: scale(1.2);
}

.icon-delete: hover{
  color: red;
}

.app-heading {
  padding: 4px;
  color: white;
  text-align: center;
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  text-transform: uppercase;
}